div, input, textarea{
    box-sizing: border-box
}

body{
    margin: 0px;
}

tr {
/*    border: 1px solid steelblue;*/
}

td{
    height: 40px;
}

.cart-table th, .cart-table td{
    padding: 5px;
    border-bottom: 1px solid steelblue;
}

table {
    border-collapse: collapse;
}

.cart-table th:nth-child(2) { text-align: end; }
.cart-table th:nth-child(3) { text-align: end; }
.cart-table th:nth-child(4) { text-align: end; }

/*.cart-table tr:nth-child(2) {background-color: red}*/

.cart-table td:nth-child(2) { text-align: end; }
.cart-table td:nth-child(3) { text-align: end; }
.cart-table td:nth-child(4) { text-align: end; }


.shopping-cart {
    height: 600px;
    width: 100%;
    background-color: skyblue;
    
    padding: 25px;
}

.shopping-cart-inner {
    margin: auto;
    margin-top: 50px;
    
    min-width: 400px;
    width: 85%;
    
    height: 250px;
    
/*    padding: 25px;*/
}

.cart-table {
    width:100%;
    height: 100%;
    
    border-collapse: collapse;
    border-style: hidden;
    
    background-color: white;
    border-radius: 10px;
    box-shadow : 0 0 0 1px skyblue;
    
    font-size: 12px;
}



.table-img {
    width:30px;
    
    display: block;
    float: left;
}

.table-brand {
    margin-top: 0px;
    margin-bottom: 0px;
}

.table-option {
    margin: 0px;
    color : steelblue;
}

.table-desc {
    float: left;
    margin-left: 5px;
}

.table-outer {
    background-color: skyblue;
    border: 1px solid skyblue;
/*    border-radius: 7px;*/
}

.purchase-button {
    padding: 15px;
    background-color: steelblue;
    
    border-radius: 10px;
    color: white;
    
    border: 0px;
    
    float: right;
}

.account-value {
    color : steelblue;
}

.price-value {
    color: steelblue;
}

.total-value {
    text-align: right;
    color: blue;
}

.edit-cart {
    "font-size: 12px; 
    vertical-align: middle; 
}
a:visited{
    color: blue;
}
